{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block jumbo_title %}SIGN UP{% endblock %}

{% block content %}
<section class="content">
    <section class="panel">    
        <h1 class="title">Sign Up</h1>
        <div class="underline"></div>
        <form action="" method="post" onsubmit="return checkForm(this);">

            {% csrf_token %}
            {{ form.as_p }}
      		

			<input type="submit" name="myButton" value="Submit" class="ghost_button">
			</form>

			<script type="text/javascript">

 			 function checkForm(form)
  			{
    //
    // validate form fields
    //

   			 form.myButton.disabled = true;
    		return true;
 		 }

</script>

        </form>
    </section>
</section>
{% endblock %}
