{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Base Title{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/naccs.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <nav>
      <section class="content">
        <a id="logo" href="/"><img src="{% static 'assets/headerlogo_small.png' %}" height="100px"></a>

        <section class="tabs">
          {% if not user.is_authenticated %}
          <a href='/login'>LOGIN</a>
          <a id="signup" class="ghost_button" href='/register'>SIGN UP</a>
          {% else %}
          <section class="upup">HELLO {{user.username}}!</section>
          <a href='/settings/account'>SETTINGS</a>
          <a href='/logout'>LOGOUT</a>
          {% endif %}
        </section>
      </section>
    </nav>

    <section class="jumbotron">
        <div class="underlay"></div>
        <div class="underlay tint"></div>
        <h1>
          NORTH AMERICAN COLLEGIATE COUNTERSTRIKE
        </h1>
    </section>

    <!-- <section class="content"> -->
      {% block content %}
      {% endblock %}
    <!-- </section> -->
  </main>

  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <footer>
    <div id="footer">
      {% block footer %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

      <div class="social_container">
          <a href="mailto:staff@collegiatecounterstrike.com" target="_blank"><i class="fas fa-envelope"></i></a>
          <a href="https://twitter.com/naccsgg" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://steamcommunity.com/groups/NACCS_" target="_blank"><i class="fab fa-steam"></i></a>
          <a href="https://discord.gg/6Bkbavq" target="_blank"><i class="fab fa-discord"></i></a>
          <a href="https://www.twitch.tv/naccs_tv" target="_blank"><i class="fab fa-twitch"></i></a>
      </div>
      <div class="mailing_list_header">
          JOIN OUR MAILING LIST!
      </div>
      <div class="mailing_list_form">
          <form action="https://collegiatecounterstrike.us20.list-manage.com/subscribe/post?u=9130d4a829c4e581d2500c03a&amp;id=07b709535e" method="post" target="_blank" novalidate>
          <!-- input -->
          <input class="mailing_input" name="EMAIL" type="email" placeholder="EMAIL ADDRESS" required>
          
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9130d4a829c4e581d2500c03a_07b709535e" tabindex="-1" value=""></div>
          
          <!-- button -->
          <input class="ghost_button mailing_button" type="submit" value="SIGN UP">
          </form>
      </div>
      {% endblock %}
    </div>
  </footer>
</body>
</html>