{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block jumbo_title %}NORTH AMERICAN COLLEGIATE COUNTER-STRIKE{% endblock %}

{% block content %}
<div class="content">
  <section id="queues">
    <article class="panel">
      <h1 class="title">COLLEGIATE HUB</h1>
      <div class="underline"></div>
      <div class="body">
        <div class="body_content">
          Details Coming Soon
        </div>

        <div class="footer"><a class="ghost_button panel_button" href="https://www.faceit.com/en/hub/a67c2ead-9968-4e8b-957b-fb8bc244b302/NACCS%20Queue">VISIT</a></div>
      </div>
    </article>
    <article class="panel">
      <h1 class="title">POWER PUGS</h1>
      <div class="underline"></div>
      <div class="body">
        <div class="body_content">
          Details Coming Soon
        </div>
        <div class="footer">
          <a class="ghost_button panel_button" href="https://www.faceit.com/en/hub/9512ae3b-7322-4821-9eca-6e0db1819b03/NACCS%20Power%20Pugs">VISIT</a>
        </div>
      </div>
    </article>
    <article class="panel">
        <h1 class="title">COLLEGIATE LEAGUE</h1>
        <div class="underline"></div>
        <div class="body">
          <div class="body_content">
            Coming Soon
          </div>
          <div class="footer">
            <a class="ghost_button panel_button">VISIT</a>
          </div>
        </div>
      </article>
  </section>
</div>

<section id="partners_bg">
  <div class="content">
    <h1>Partners</h1>
    <section id="partners">
      <img class="partner" title="FaceIT" src="/static/assets/faceit_pheasant.png">
      <img class="partner">
    </section>
  </div>
</section>

{% endblock %}