{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block jumbo_title %}NORTH AMERICAN COLLEGIATE COUNTER-STRIKE{% endblock %}

{% block content %}
<div class="content">
  <section id="queues">
    <article class="panel">
      <h1 class="title">COLLEGIATE HUB</h1>
      <div class="underline"></div>
      <div class="body">
        <div class="body_content">
          come queue with me boio boi boi naccas nacss nacass ncass naccs
        </div>

        <div class="footer"><a class="ghost_button panel_button">VISIT</a></div>
      </div>
    </article>
    <article class="panel">
      <h1 class="title">POWER PUGS</h1>
      <div class="underline"></div>
      <div class="body">
        <div class="body_content">
          BETTER QUEUE!
        </div>
        <div class="footer">
          <a class="ghost_button panel_button">VISIT</a>
        </div>
      </div>
    </article>
    <article class="panel">
        <h1 class="title">COLLEGIATE LEAGUE</h1>
        <div class="underline"></div>
        <div class="body">
          <div class="body_content">
            BETTER QUEUE!
          </div>
          <div class="footer">
            <a class="ghost_button panel_button">VISIT</a>
          </div>
        </div>
      </article>
  </section>
</div>

<section id="partners_bg">
  <div class="content">
    <h1>Partners</h1>
    <section id="partners">
      <img class="partner" title="FaceIT" src="/static/assets/faceit_pheasant.png">
      <img class="partner">
    </section>
  </div>
</section>

{% endblock %}