#footer {
    background-color: #0C2132;
    height: 200px;
    text-align: center;
    padding: 20px;
}

#footer input {
    min-width: 0;
}

.social_container {
    margin-top: 20px;
    margin-bottom: 30px;
}
.social_container > a {
    color: white;
    vertical-align: middle;
    margin: 12px;
    cursor: pointer;
}
.social_container > a:hover{
    color: #F65A44;
}

.fa-discord {
    font-size: 24px;
}
.fa-envelope {
    font-size: 24px;
}
.fa-twitter {
    font-size: 24px;
}
.fa-steam {
    font-size: 24px;
}
.fa-twitch {
    font-size: 24px;
}

.mailing_list_header {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.mailing_list_form {
    display: flex;
    justify-content: center;
}

.mailing_list_form form {
    display: block;
}

.mailing_input {
    width: 180px;
    padding: 12px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
}

.mailing_input::placeholder {
    letter-spacing: 1px;
    font-size: 12px;
}

.mailing_button {
    margin-left: 5px;
    padding: 10px;
    display: inline-block;
}